 body{
    background-color:#bde0fc;
 }
 th, td{
    border: 1px solid black;
    border-radius: 10px;
    border-style: outset;
 }
th, td{
    background-color: #ffafcc;
    border-color:#cdb4db;
}
 